body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input {
  height: 20px;
  width: 200px;
}

button {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: row;
}

.container div {
  width: 40vw;
  margin: 0 10px;
}
